.Contact_Us{
    padding-top: 250px;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}
.Contact_Us section{
  color: #a8b2d1;
  font-size: 30px;
  margin-top: 20px;
}
.Contact_Us p{
  color: #a8b2d1;
  font-size: 18px;
  width: 60%;
  margin: 30px auto 0 auto;
  
}
.Contact-Us-Button-Container {
    background-color: rgb(100, 255, 218);
    width: fit-content;
    height: fit-content;
    margin: 50px auto 0 auto;
    margin-top: 50px;
    border-radius: 5px;
  }
  
  .Contact-Us-Button {
    cursor: pointer;
    background-color: rgb(10, 25, 47);
    color: rgb(100, 255, 218);
    padding: 20px 30px;
    font-size: 14px;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 5px;
    transition: translate 0.3s ease-in-out;
  }
  .Contact-Us-Button:hover {
    translate: -5px -5px 0;
  }

  .Head-Line{
    border: 1px solid rgb(136,147,177);
            width:300px;
            border-bottom: none;
            border-left:none;
            border-right: none;
            margin: auto 0 auto 30px;
  }

  @media only screen and (max-width: 767px) {
    .Contact_Us{
      padding-top: 120px;
      width: 80%;
      padding-bottom: 0px;
  }
  .Contact_Us section{
    font-size: 25px;
    margin-top: 20px;
  }
  .Contact_Us p{
    font-size: 15px;
    width: 70%;
    margin: 25px auto 0 auto;
  }
  .Contact-Us-Button-Container {
      margin: 30px auto 0 auto;
      border-radius: 5px;
    }
 .Head-Line{
      display: none;
    }
  }
 