.Experience{
    padding-top: 220px;
  margin: 0 auto;
  width: 70%;
}
.A{
    font-size: 30px;
}
.Experience section{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.Experience-Left{
    width: 20%;
    font-size: 20px;
}
.Experience-Right{
    width: 60%;
}
.Right-Head{
    font-size: 22px;
    text-align: left;
}
.Right-Head span{
    color:#ccd6f6;
    
}
.Right-Head a{
    text-decoration: none;
    color: #64ffda;
    margin-left: 10px;
}
.Right-Head a:hover{
    color: #64ffdbcf;
}

.Right-Head div{
    font-size: 15px;
    margin-top: 5px;
    color: #a8b2d1;
}

.Right-List-Container{
    text-align: left;
    width: 75%;
    margin-top: 30px;
}
.Right-List{
    margin: 10px 0;
    color: #a8b2d1;
    display: flex;
    flex-direction: row;
}
.Right-List span{
    color: #64ffda;
    display: block;
    margin-right: 20px;
    font-size: 22px;
    height: fit-content;
    margin-top: -4px;
}
.Head-Line{
    width: 300px;
    border: 1px solid rgb(136,147,177);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: auto 0 auto 30px;
  }
  .aa{
    color: rgb(204,215,247);
    font-weight: bold;
    margin-left: 20px;
  }

@media only screen and (max-width: 767px) {
    .Experience{
      padding-top: 250px;
      margin: 0 auto;
      width: 80%;
    }
    .A{
     font-size: 27px;
    }
    .Head-Line{
        display: none;
    }
    .Experience-Left
    {
        display: none;  
    }
    .Experience-Right{
        width: 100%;
    }
    .Right-Head{
        font-size: 13px;
        text-align: left;
    }
    .Right-Head div{
        font-size: 12px;
        margin-top: 10px;
    }
    .Right-List-Container{
        width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }
    .Right-List{
        margin: 20px 0;
    }
    .Right-List span{
        margin-right: 10px;
        margin-top: -4px;
    }
    .aa{
        margin-left: 5px;
      }
    
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}